.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 5rem;
}

.nav {
  display: flex;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.logoutBtn,
.link {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: aqua;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
